<div>
    <div class="border-x p-2 w-full max-w-4xl mx-auto"></div>
    <div class="border-y">
        <div class="border-x w-full max-w-4xl mx-auto flex flex-row">
            <a href="/" class="border-r p-4">Ingo Wolf</a>
        </div>
    </div>
</div>
