---
import { cn } from "@/lib/utils";

const { class: className }: { class?: string } = Astro.props;
---

<div
    class={cn(
        "w-full mx-auto max-w-5xl border-x border-dashed h-10 bg-striped-gradient border-b",
        className,
    )}
>
</div>
